/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@supports (font-variation-settings: normal) {
  body {
      font-family: 'Inter', sans-serif;
  }
} 

img {
  width: 100%;
  min-height: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0%, #e7e7e7 0.1%, #1a1a1a 100%);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  font-size: var(--main-font-size, 18px);
  color: var(--main-text-color, #000);
  font-family: 'Inter', sans-serif;
  font-variation-settings: "wght" var(--font-weight-normal, 400);
}

.header {
  padding: 100px 0;
  font-family: 'Press Start 2P', fantasy;
}

.header_box {
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 1px solid #000;
  align-self: center;
  justify-self: center;
  padding: 128px 0;
  background-color: #fff;
}

.header_logo {
  font-family: inherit;
  font-size: var(--header-logo-font-size, 65px);
  font-weight: var(--font-weight-normal, 400);
  line-height: 100%;
  text-align: center;
  margin-block-end: 20px;
}

.header_title {
  font-family: inherit;
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--header-title-font-size, 23px);
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  inline-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border: 2px solid #000;
  margin-block-end: 50px;
}

.card_title {
  width: 100%;
  height: fit-content;
  background-color: var(--bg-color, #fff);
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" var(--font-weight-bold, 700);
  padding: 3px 10px;
  line-height: 21.78px;
  outline: 2px solid #000;
  color: var(--main-text-color, #000);
}

.card_image {
  position: relative;
  block-size: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  border-top: 2px solid var(--border-color, #000);
  border-bottom: 2px solid var(--border-color, #000);
}

.card_image_filter_hue-rotate {
  filter: hue-rotate(-90deg);
}

.card_image_filter_contr_brich_sepia {
  filter: contrast(70%) brightness(160%) sepia(70%);
}

.card_image_filter_brightness {
  filter: brightness(200%);
}

.card_image_filter_blur {
  filter: blur(0.3rem);
}

.card_image_filter_opacity {
  filter: opacity(0.5);
}

.card_image_filter_grayscale {
  filter: grayscale(0.8);
}

.card_image_filter_sepia {
  filter: sepia(80%);
}

.img_logo {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 2;
  opacity: 0.5;
  mix-blend-mode:hard-light;
  font-family: 'Press Start 2P', fantasy;
  font-weight: var(--font-weight-bold, 700);
  font-size: var(--small-font-size, 14px);
  line-height: 14px;
  text-shadow:
    1px 0 rgb(255 255 255 / 0.5),
    0 1px rgb(255 255 255 / 0.5),
    -1px 0 rgb(255 255 255 / 0.5),
    0 -1px rgb(255 255 255 / 0.5);
}

.card_description {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  background-color: var(--bg-color, #fff);
}

.card_text {
  margin-inline: 25px;
}

.button_groups {
  margin-block-end: 25px;
  margin-inline-end: 25px;
  justify-self: right;
  align-self: center;
  display: flex;
  gap: 6px;
}

.button {
  font-family: 'Press Start 2P', fantasy;
  border: 2px solid var(--border-color, #000);
  text-align: center;
  line-height: 12.6px;
  font-size: var(--small-font-size, 14px);
  font-weight: var(--font-weight-normal, 400);
  color: var(--main-text-color, #000);
  background-color: transparent;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease-in-out;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow:
    2px 2px #000;
}

.button::before {
  content: '';
  background-color: #000;
  position: absolute;
  inset: 0;
  transform-origin: left;
  transition: translate 0.5s ease-in-out;
  translate: -100%;
}

.button:hover::before {
  translate: 0%;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.card__icon-button {
  border: 2px solid transparent;
  background-color: transparent;
  cursor: pointer;
  transition: border 0.3s ease-in-out;
  display: flex;
  justify-self: center;
  align-self: center;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.03s linear;
}

.counter {
  fill: var(--border-color, #000);
  transition: fill 0.1s linear;
}

.spark {
  opacity: 0;
}

.card__icon-button:hover .core {
  fill:var(--border-color,#000);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .main-body {
  fill:var(--border-color,#000);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .core {
  fill:var(--icon-fill, red);
  transition: fill 0.3s linear;
}

.card__icon-button:active .main-body {
  fill:var(--icon-fill, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill:var(--icon-fill, red);
  transition: fill 0.3s linear; 
}

.like-icon.is-liked .main-body {
  fill:var(--icon-fill, red);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .counter {
  fill:var(--icon-fill, red);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart 0.3s 0.01s ease-in;
  transform-origin: center;
}

.like-icon.is-liked .spark {
  animation: spark 0.3s 0.33s ease-in;
  transform-origin: center;
}

.card__icon-button:focus {
  border: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--border-color,#000);
}

.button__text {
  position: relative;
  text-align: center;
  mix-blend-mode: difference;
  color: #fff;
}

.card__like-button {
  padding: 10.5px 0;
  width: 130px;
}

.discet {
  height: 21px;
  width: 21px;
  position: relative;
  mix-blend-mode: difference;
  color: #fff;
}

.save_button {
  margin-block-end: 103px;
  width: 335px;
  padding: 15px 0;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.dialog[open] {
  width: 357px;
  border: 2px solid var(--border-color, #000);
  padding: 30px;
  display: grid;
  align-items: center;
  grid-template-columns: 39px 1fr;
  gap: 20px;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
} 

.dialog_title {
  font-family: 'Press Start 2P', fantasy;
  font-weight: var(--font-weight-normal, 400);
  font-size: var(--small-font-size, 14px);
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
}

.dialog .discet {
  width: 39px;
  height: 39px;
}

.dialog_ok {
  grid-column: 1 / 3;
}

.dialog .button {
  margin-block-start: 10px;
  width: 100%;
  padding: 12.5px 0;
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

@supports ((text-stroke: 1px rgb(255 255 255 / 0.5)) or (-webkit-text-stroke: 1px rgb(255 255 255 / 0.5))) {
  .img_logo {
    -webkit-text-stroke: 1px rgb(255 255 255 / 0.5);
    text-stroke: 1px rgb(255 255 255 / 0.5);
    text-shadow: none;
  }
}

@media (width <= 375px) {
  .header_box {
    padding: 120px 0;
  }
  .card_title {
    padding-top: 4px;
    padding-bottom: 6px;
  }
  .img_logo {
    right: 13px;
  }
  .save_button {
    flex-direction: column;
    padding: 15px 0;
    width: 306px;
    gap: 10px;
  }
  .discet {
    width: 28px;
    height: 28px;
  }
}